<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paradoxlabs_cybersource>
                <version backend_model="ParadoxLabs\CyberSource\Model\Config\Version" />
                <apitest />
                <active>0</active>
                <test>0</test>
                <title>Credit Card (CyberSource)</title>
                <organization_id />
                <merchant_id />
                <soap_transaction_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secureaccept_profile_id />
                <secureaccept_access_key />
                <secureaccept_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_secret_key_id />
                <rest_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cardinal_active>1</cardinal_active>
                <cardinal_org_unit_id />
                <cardinal_secret_key_id />
                <cardinal_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <model>ParadoxLabs\CyberSource\Gateway\VirtualFacade</model>
                <card_model>ParadoxLabs\CyberSource\Model\Card</card_model>
                <method_model>ParadoxLabs\CyberSource\Model\Method</method_model>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <show_branding>0</show_branding>
                <allowspecific>0</allowspecific>
                <specificcountry />
                <min_order_total />
                <max_order_total />
                <sort_order />
                <allow_unsaved>1</allow_unsaved>
                <require_ccv>0</require_ccv>
                <reauthorize_partial_invoice>1</reauthorize_partial_invoice>
                <savecard_opt_out>1</savecard_opt_out>
                <fingerprint>1</fingerprint>
                <fingerprint_domain>h.online-metrix.net</fingerprint_domain>
                <validate_card_storage>0</validate_card_storage>
                <group>tokenbase</group>
                <!-- API info -->
                <client_name>ParadoxLabs CyberSource</client_name>
                <client_version>1.2.0</client_version>
                <!-- Feature flags -->
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_once>1</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_edit>1</can_edit>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_review_payment>0</can_review_payment>
                <is_gateway>0</is_gateway>
                <is_offline>0</is_offline>
                <can_initialize>0</can_initialize>
                <can_store_bin>1</can_store_bin>
                <send_line_items>1</send_line_items>
            </paradoxlabs_cybersource>
        </payment>
    </default>
</config>
